@import "~bootstrap/scss/bootstrap";
h1 {
    text-align: center;
}
footer {
    text-align: center;
    font-style: italic;
}
.password {
    color: white;
    background: black;
}

.jumbotron {
    padding: 1rem 1rem;
}